{% extends "layouts/base.njk" %}
{% block body %}
<h3>Our partners</h3>

<p>This page is dedicated for companies we cooperate with. You may think of this as shoutouts for them.</p>

<h4>Botland</h4>

<p>Botland is a well known shop for buying electronics. Physical security is also part of cybersecurity, so RFID readers, logic analyzers and much more is fair game when hacking!</p>

<div class="row center-xs">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg4">
        <a href="https://botland.com.pl">
            <img src="https://botland.com.pl/img/logo_botland_kn.png" alt="Sklep dla robotyków i elektroników, Arduino, Raspberry Pi - BOTLAND" style="max-width: 40vw;">
        </a>
    </div>
</div>
{% endblock %}
